@model PBO_UAS.Entities.Mahasiswa

@{
    ViewBag.Title = "Detail Mahasiswa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Mahasiswa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Nim)*@
            NIM
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nim)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Nama)*@
            Nama Lengkap
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Jk)*@
            Jenis Kelamin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jk)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Angkatan)*@
            Angkatan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Angkatan)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.NoHp)*@
            No. Handphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoHp)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Alamat)*@
            Alamat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <br />
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Kembali ke Daftar", "Index") |
    @Html.ActionLink("Ubah", "Edit", new { id = Model.Id })
</p>
